.bg-dark{
    background-color: rgb(56,56,56);
}

.text-white{
    color:white;
}
.custom-buttons button , .custom-buttons div {
    color: white;
    border-color: white;
}
.shopping-cart {
    position:fixed;
    right: 10px;
    top: 0px;
}

.colum-right{
    width: 80px;
    height: 120px;
    padding-bottom: 10px;
}